/* * { 
  outline: 1px solid red;
  outline-offset: -1px;
} */

body {
  margin: 30px;
  background-color: #e0d8d2;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
}

h1 {
  font-family: 'Black Han Sans', sans-serif;
  margin: 5px 0px;
  text-decoration: none;
  font-weight: bolder;
  font-size: xx-large;
  color: #477256;
}

h2, h3, h4, h5, h6 {
  font-family: 'Black Han Sans', sans-serif;
  margin: 5px 0px;
  text-decoration: none;
  font-weight: bolder;
  font-size: x-large;
  color: #477256;
}

nav {
  font-size: x-large;
  padding: 10px 0px;
  display: flex;
  background-color: 	#bfb4ae;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  background-color: #e0d8d2;
  padding: 10px;
  border-radius: 10px;
}

nav a:hover {
  background-color: #8aa192;
  color: whitesmoke;
}

#logo {
  width: 200px;
  height: auto;
}

#mainSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#top {
  margin: 30px auto 0px;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

#storeTable, #storeTable td, #storeTable th {
  background-color: #8aa192;
  width: 960px;
  border-collapse: collapse;
  vertical-align: middle;
  border: 1px solid black;
  padding: 2px;
  margin-top: 10px;
}

#storeTable th {
  font-weight: bold;
  text-align: center;
}

#storeTable th {
  width: 200px;
}

#storeTable td + td {
  text-align: center;
}

#middle {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 30px;
}

#middle img {
  width: 350px;
}

#bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 960px;
  margin-bottom: 30px;
}

#shirt {
  width: 480px;
}

#featureSection {
  width: 450px;
}

#featureSection p {
  background-color: #8aa192;
  display: flex;
  justify-content: space-between;
  width: 450px;
  height: 400px;
  padding: 5px;
  overflow: scroll;
  overflow-x: hidden;
  font-style: italic;
}

#featureSection h2 {
  font-size: large;
  font-weight: bold;
}

#callToAction {
  background-color: #f2b3a4;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px;
  height: 50px;
  margin-top: 5px;
}

#callToAction:hover {
  background-color: #8aa192;
  color: whitesmoke;
}

footer {
  display: flex;
  padding: 5px;
  background-color: #bfb4ae;
  justify-content: space-around;
}

#contactInfo p {
  padding: 2px;
}

#contactInfo p:first-of-type{
  font-weight: bold;
  margin-top: 3px;
}

#contactInfo p:nth-of-type(2) {
  font-style: italic;
}

#copyright {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

/* Sales Page */
#salesData {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#salesTable {
  margin: 30px;
  background-color: #8aa192;
  width: 960px;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 2px;
}

#salesHeader {
  font-weight: bold;
  vertical-align: bottom;
}

#salesData td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

#salesTable th {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 200px;
}


#salesTable td:nth-last-child(-n+15) {
  text-align: right;
}

#salesFooter {
  font-weight: bold;
}

#salesFoot {
  min-height: 50px;
  align-items: center;
}

#salesForm {
  border: 2px solid #477256;
  margin: 10px auto;
}


#salesForm label {
  margin: 10px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

#salesForm input {
  align-items: right;
}

#salesSubmitButton {
  font-weight: bold;
  font-size: medium;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

#salesSubmitButton:hover {
  background-color: #477256;
  color: whitesmoke;
}
